:root {
    --primary-text-color: #757575;
    --title-text-color: #000000;
    --secondary-header-color: #212121;
    --accent-color: #2196F3;
    --main-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --window-color: #2F303A;
    --email-color: rgba(255, 255, 255, 0.6);
    --border-color: #EEEEEE;
    --button-shadow-color: rgba(0, 0, 0, 0.15);
    --shadow-comanda-color: rgba(0, 0, 0, 0.2);
    --button-activation-color: #188CE8;
    --hero-gradient-color: rgba(47, 48, 58, 0.4);
    --color-icons: #AFB1B8;
    --color-icons-futer: rgba(255, 255, 255, 0.1);
    --color-icons-img: rgba(47, 48, 58, 0.8);

}